<!DOCTYPE html>
<html lang="fr">
<!--source : https://www.youtube.com/watch?v=BOF79TAIkYQ&t=55s -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" />
   <link rel="stylesheet" type="text/css" href="./assets/fonts/font/flaticon_veritatrust.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/dashboard2.css">
    <title>Veritatrust</title>
</head>

<body>
    <div class="container-fluid">
        <!----- debut du sidebar -->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="./assets/img/logo-picto-veritatrust.png" alt="Veritatrust">
                    <h2>Verita<span>Trust</span></h2>
                </div>
                <div class="close" id="close-btn"><span class="material-symbols-sharp">
                    close
                    </span></div>
            </div>
            <div class="sidebar">
                <a href="#" class="active"><span class="material-symbols-sharp">
                    grid_view
                    </span>
                <h3>Dashboard</h3></a>
                <a href="#"><span class="material-symbols-sharp">
                    Reviews
                    </span>
                <h3>Avis</h3></a>
                <a href="#"><span class="material-symbols-sharp">
                    chat
                    </span>
                <h3>Messages</h3>
                <span class="ms-2 translate-middle badge rounded-pill bg-danger">25</span></a>
                <a href="#"><span class="material-symbols-sharp">
                    Help
                    </span>
                <h3>Aides</h3></a>
                <a href="#"><span class="material-symbols-sharp">
                    Settings
                    </span>
                <h3>Réglages</h3></a>
                <a href="#"><span class="material-symbols-sharp">
                    Password
                    </span>
                <h3>Mot de passe</h3></a>
                
                <button  class="material-symbols-sharp" onclick = "googleSignout()">Logout</button>
                   
                    </span>
                <h3>Déconnexion</h3></a>
            </div>
        </aside>
        <!----- Fin du sidebar -->
        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date">
            </div>
            <div class="insights">
                <div class="sales">
                    <span class="material-symbols-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total</h3>
                                <%
                        if(prd_reviews.length!=0){
                               
                        %>
                            <h4 class="h2"><%=prd_reviews[0].total_reward%> €</h4>
                            
                        <% } else{ %>
                                      <h4 class="h2">0 €</h4>
                                    </p>
                            
                            <% } %>
                            
                            
                        </div>
                        <div class="progression">
                            <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                            <div class="number">
                                <p>33%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Lorem ipsum</small>
                </div>
            </div>
            <!----- fin des widgets -->
            <div class="recent-reviews">
                <h2>Derniers Avis</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom du produit</th>
                            <th scope="col">Date</th>
                            <th scope="col">Note</th>
                            <th scope="col">Avis</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                                <%
                        if(prd_reviews.length!=0){
                        var j=0;
                        prd_reviews.forEach(function(review){
                               
                        %>
                        <tr>
                            <td><%=prd_reviews[j].product_name%></td>
                            <td><%=Intl.DateTimeFormat('en', { month: 'short' }).format(new Date((1+prd_reviews[j].experienceDate.getMonth()).toString()))%> <%=prd_reviews[j].experienceDate.getDate()%>, <%=prd_reviews[j].experienceDate.getFullYear()%></td>
                            <td><%=prd_reviews[j].rating%></td>
                            <td><%=prd_reviews[j].title%></td>
                            <td class="primary"><a href="#">Détails</a></td>
                        </tr>
                        <%  j++; }) %>
                            <% } else{ %>
                                      <h3>No data</h3>
                                    <p class="text-muted">no content
                                    </p>
                            
                            <% } %>
                    </tbody>
                </table>
                <a href="#">Voir tous les avis</a>
            </div>
            <!----- fin du tableau des avis -->
        </main>
        <!----- fin du center -->
        <div class="right">
            <div class="top">
                <button id="menu-btn"><span class="material-symbols-sharp">
                    menu
                    </span></button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="profile">
                        <div class="info">
                            <p>Hi, <strong><%=name%></strong></p>
                            <small class="text-muted">Admin</small></div>
                        <div class="profile-photo">
                            <img src="./assets/img/star-1.png" alt="nico" width="40" height="40">
                        </div>
                    </div>
                </div>
            </div>
            <div class="negatif-reviews">
                <h2>Avis négatifs</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo"><img src="./assets/img/star-0.png" width="40" height="40" alt="title"></div>
                        <div class="message">
                            <p><strong>Mike Horn</strong></p>
                            <p>Lorem ipsum du message négatif</p>
                            <small class="text-muted">Il y a 3 jours</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo"><img src="./assets/img/star-0.png" width="40" height="40" alt="title"></div>
                        <div class="message">
                            <p><strong>Jason Bourn</strong></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, at dolorem animi cum pariatur eaque beatae iure. Laudantium eum odio officia asperiores. A minima perspiciatis eos cum aut maxime rem?
                            </p>
                            <small class="text-muted">Il y a 5 jours</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div
    <div id="firebaseui-auth-container"></div>
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAo-8Xsea3mrUrLdRQl8jF0kWjurVR75BM",
            authDomain: "mvp-veritatrust-authen.firebaseapp.com",
            projectId: "mvp-veritatrust-authen",
            storageBucket: "mvp-veritatrust-authen.appspot.com",
            messagingSenderId: "674996552868",
            appId: "1:674996552868:web:27aa9d64343f27f034d231",
            measurementId: "G-DBYVG24K2G"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function googleSignout() {
           firebase.auth().signOut()
        	
           .then(function() {
              console.log('Signout Succesfull')
              axios.get('https://dev.veritatrust.com/sessionLogout')
                      .then((response) => {
                        window.location.assign("/create_account");
                      });
           }, function(error) {
              console.log('Signout Failed')  
           });
           
        }
    </script>


    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/dashboard.js"></script>
</body>

</html>

</html>