<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/fonts/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <title>Veritatrust</title>
</head>

<body class="valid">
    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="./">
                <img src="./assets/img/logo-veritatrust-c.png" alt="Veritatrust" width="170">
            </a>
        </div>
    </nav>
    <section class="py-5 form">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-11 col-lg-8 pt-3 mx-auto text-center">
                    <p><%=product_form_testimonal_msg%></p>
                </div>
                <div class="col-11 col-lg-8 py-3 mx-auto position-relative">
                    <ul class="step-reviews nav text-center">
                        <li class="nav-item w-33 step-1 done">
                            <!-- remplacer 'active' par 'done' lorsque la page a deja été réalisée -->
                            <span class="badge rounded-circle">1</span>
                            <p class="mb-0"><%=merchant_form_message_opinion%></p>
                        </li>
                        <li class="nav-item w-33 step-2 done">
                            <span class="badge rounded-circle">2</span>
                            <p class="mb-0"><%=merchant_form_message_opinion2%></p>
                        </li>
                        <li class="nav-item w-33 step-3 active">
                            <span class="badge rounded-circle">3</span>
                            <p class="mb-0" aria-current="page"><%=validated_message%></p>
                        </li>
                    </ul>
                    <div id="line">
                        <div id="line-progress"></div>
                    </div>
                </div>
                <div class="col-11 col-lg-8 py-4 px-lg-4 mx-auto result-ok">
                    <div class="form__header">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-12 col-md-8 col-xl-9 text-center">
                                <img class="align-self-center mb-4" src="http://dev.veritatrust.com/assets/img/coin.png" alt="Product name">
                                <p class="lead text-green">Congratulations!<br>Your review is validated</p>
                                <p class="">You just got rewarded with <strong>1 token &#129297;</strong> for your review. Get more reward and review more.</p>
                                <p class="lead text-green">Get more reward and review more.</p>
                                <a class="btn btn-primary" href="http://dev.veritatrust.com/review?site=<%=company_name%>"> Review your Products recently buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary py-2 text-white">
        <div class="container">
            <div class="text-center">
                <p class=" mb-0"><%=All_rights_reserved%></p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/custom.js"></script>
    <script>
    </script>
</body>

</html>