<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/fonts/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="text/javascript" src="../bower_components/crypto-js/crypto-js.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/request/2.88.2/lib/redirect.min.js" integrity="sha512-OTYCPsYz3wr2sUrkS4UIeyzbtshLRAUAbjOWPbAa7WmUxLJwT7EQGId79DFnw4KC4QIwF8mikITeXKtdjqGhRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/request/2.88.2/request.min.js" integrity="sha512-mp7F6JbZdA4YjqV8e7sAJ4Qi3fv7of3u8LmUH76GD1RZCxWE6XMuLoNcqZozIDxTNSJQfR2BSSeFoD/Y4cFtaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src ="js/sendPost.js">  </script>
     <script src ="js/sendPost_2.js">  </script>
     <script src="js/errorMessage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js">
   <!-- <script src="js/metaconnect.js"></script>
    <script src="js/metamask_auth.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="./js/metamask-onboarding.bundle.js"></script> -->
   <!--  <script src="https://www.google.com/recaptcha/api.js"></script>
   <script src="js/metamask_authen.js" type="module"></script> -->
  <!--  <script src="https://js.hcaptcha.com/1/api.js" async defer></script> -->
    <title>Veritatrust</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Red+Hat+Mono:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1-rc.2/web3.min.js"
      integrity="sha512-KURAVUCRxZKDemghhiNqTnYzVPUtO3GYznBZRWRBT2GJJ5PmePAxfO7QMGCM8xUJ0QfrUYJDrtRJM4L4NOtfow=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script src="js/script.js" type="module" defer></script>
    <script src="https://js.hcaptcha.com/1/api.js" defer></script> 
    <script src="js/review.js" type="module" defer></script>
    
    <style>
      .star-default {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        background-size: cover;
        cursor: pointer;
      }
      .star-empty {
        background-image: url('img/star-0.png');
      }
      .star-filled {
        background-image: url('img/star-1.png');
      }
    </style>
    
    
</head>

<body class="product">
    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="./">
                <img src="./assets/img/logo-veritatrust-c.png" alt="Veritatrust" width="170">
            </a>
        </div>
    </nav>
    <section class="py-5 form">
         <form class="row d-flex align-items-center" id ="product_form" method ="POST" action="" >
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-11 col-lg-8 pt-3 mx-auto text-center">
                    <h3><%=share_your_opinion_message%><span> product: <%=product_name%></span></h3>
                    <p><%=product_form_testimonal_msg%></p>
                </div>
                 <div class="col-11 col-lg-8 py-3 mx-auto position-relative">
                    <ul class="step-reviews nav text-center">
                        <li class="nav-item w-33 step-1 done">
                            <!-- remplacer 'active' par 'done' lorsque la page a deja été réalisée
                            <span id="sucess_message">done</span>  -->
                            <span class="badge rounded-circle">1</span>
                            <p class="mb-0">Your merchant <br>review</p>
                        </li>
                        <li class="nav-item w-33 step-2 active">
                            <span class="badge rounded-circle">2</span>
                            <p class="mb-0" aria-current="page">Your product <br>review</p>
                        </li>
                        <li class="nav-item w-33 step-3 ">
                            <span class="badge rounded-circle">3</span>
                            <p class="mb-0">Validated<br>reviews</p>
                        </li>
                    </ul>
                    <div id="line">
                        <div id="line-progress"></div>
                    </div>
                </div>
                <div class="col-11 col-lg-8 py-4 px-lg-4 mx-auto bg-light rounded-5">
                    <div class="form__header">
                        <div class="row d-flex align-items-center">
                            <div class="col-6 col-md-4 col-xl-3 d-flex rounded-4 border bg-white visuel-mark g-0 mx-auto">
                                <img class="align-self-center" src="https://m.media-amazon.com/images/I/61Q9Zr0wt5L._AC_UX425_.jpg" alt="Product name">
                            </div>
                            <div class="col-12 col-md-8 col-xl-9">
                                <div class="form__header__note">
                                    <p class="lead"><%=product_name%></p>
                                    <div class="form__star mb-3 d-flex justify-content-start">
                                          <div class="form__star mb-3 d-flex justify-content-start" id="review"
                                      data-review="merchand"
                                      data-selected="1">
                                      <div class="star-review star-default star-empty" data-index="1"></div>
                                      <div class="star-review star-default star-empty" data-index="2"></div>
                                      <div class="star-review star-default star-empty" data-index="3"></div>
                                      <div class="star-review star-default star-empty" data-index="4"></div>
                                      <div class="star-review star-default star-empty" data-index="5"></div>
                                    </div>
                                    
                                </div>
                                <p><span id="review-value">1 </span> <span id="review-value-text"> <strong> star: </strong>very bad </span></p>
                            </div>
                        </div>
                        <hr>
                        <div class="form__content">
                             <p class="lead mt-3 mb-0"><%=Write_a_title%></p>
                            <input class="form-control" type="text" name="titre" id="titre" required>
                            <p class="lead mb-0"><%=product_form_opinion_message%></p>
                            <p><%=product_form_opinion_message2%></p>
                            <textarea class="form-control" name="content" id="content" rows="10" placeholder="Write your review here. Talk about your experience without using offensive language. Leave an honest, useful and constructive testimonial."></textarea>
                            <p class=""><%=add_unless_tree_pictures%> <span class="text-muted">(facultatif)</span></p>
                            <div class="row mb-4">
                                <div class="col-6 col-lg">
                                    <div class="d-flex rounded-4 border bg-white visuel-mark">
                                        <img class="align-self-center" src="https://m.media-amazon.com/images/I/61Q9Zr0wt5L._AC_UX425_.jpg" alt="Product name">
                                    </div>
                                </div>
                                <div class="col-6 col-lg">
                                    <div class="d-flex rounded-4 border bg-white visuel-mark">
                                        <img class="align-self-center" src="https://m.media-amazon.com/images/I/61EP5JVoyxL._AC_UL1024_.jpg" alt="Product name">
                                    </div>
                                </div>
                                <div class="col-6 col-lg">
                                    <label class="add__photo rounded-3 border w-100 text-center d-flex">
                                        <div class="m-auto">
                                            <i class="flaticon-galerie"></i>
                                            <div class="">+ <%=add_photo_video%></div>
                                            <input accept="image/jpeg, image/tiff, image/webp, image/png, video/mp4, video/quicktime" type="file" class="d-none">
                                        </div>
                                    </label>
                                </div>
                            </div>
    
                        </div>
                        <p class="lead mt-3 mb-0"><%=experience_date%></p>
                         <input class="form-control" type="date" max="<%= new Date().toISOString().split("T")[0] %>" data-date-inline-picker="true" value="<%= new Date().toISOString().split("T")[0] %>" name="date" id="date" required>
                        <div class="form__footer">
                      
                            <span id="error"></span>
                       
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn-block btn btn-primary btn-lg text-uppercase text-right" id = "btn" ><%=Publish%></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </section>

    <footer class="bg-primary py-2 text-white">
        <div class="container">
            <div class="text-center">
                <p class=" mb-0"><%=All_rights_reserved%></p>
            </div>
        </div>
    </footer>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/custom.js"></script>
</body>

</html>