<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font/flaticon_veritatrust.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    
    <script src="js/metaconnect2.js"></script>
         <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <title>VeritaTrust</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container" id = "container-menu">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo-veritatrust-c.png" alt="VeritaTrust" width="170">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex w-lg-50 search my-3 my-lg-0" role="search">
                    <input class="form-control" placeholder="Search product or service">
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active align-self-center" aria-current="page" href="/">Explore</a>
                        <ul class="submenu dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Domain name</a></li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  align-self-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                    </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Create</a>
                    </li>
                    <li class="nav-item"><a class="nav-link align-self-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#account" aria-controls="account"><i class="flaticon flaticon-user"></i></a></li>
                </ul>

            </div>



        </div>
    </nav>
    <div class="offcanvas offcanvas-end text-bg-primary" data-bs-scroll="true" tabindex="-1" id="account" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
        </div>
    </div>


    <section class="profil-header">
        <div class="container">
            <div class="row mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 mb-md-3">
                        <li class="breadcrumb-item"><a href="/"><i class="flaticon-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Category 1</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Current page</li>
                    </ol>
                </nav>
            </div>
            <div class="row d-flex align-items-center mb-lg-3 mb-1 aos animated" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                <div class="col-12 pt-2 pb-2 pb-lg-5 d-grid info-mark">
                    <div class="logo my-1">
                        <img src="<%=productReviews.length == 0 ? "product_image": productReviews[0].product_image%>" alt="<%=productReviews.length == 0 ? "product_name": productReviews[0].product_name%>" width = "200" height = "200">
                    </div>
                    <div class="brand">
                         
                        <h1><%=productReviews.length == 0 ? product_name.replace(/-/g, ' ') : productReviews[0].product_name.replace(/-/g,' ')%></h1>
                        <small class="text-muted"><strong><%=productReviews.length%></strong> reviews • Good</small>
                        <div class="form__header__note">
                            <div class="form__star mb-3 d-flex justify-content-start mx-auto mx-md-0">
                                <div class="star star__1 active"></div>
                                <div class="star star__2 active"></div>
                                <div class="star star__3 active"></div>
                                <div class="star star__4 active"></div>
                                <div class="star star__5"></div>
                                <p class="note lead my-auto ms-3 text-success"><%=productReviews.length == 0 ? 0.0 :productReviews[0].RM%></p>
                            </div>
                            <a href="/listings/write-review/<%=productReviews.length == 0 ? product_name: productReviews[0].product_name%>" class="bg-success text-white d-inline py-2 px-3 rounded-3 shadow">Write a review</a>
                            <a href="#ask_question" class="bg-primary text-white d-inline py-2 px-3 rounded-3 shadow">Ask a question</a>
                        </div>
                        
                          
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-success profil-main">
        <div class="container py-2 py-lg-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-white p-3 mb-3 rounded-5 shadow reviews-filter aos animated" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                        <div class="d-lg-flex justify-content-between">
                            <h2 class="d-flex">Reviews • <span class="ms-2"><%=productReviews.length%></span></h2>
                            <select class="form-select d-flex" aria-label="Default select example">
                                <option selected>All langages</option>
                                <option value="1">English</option>
                                <option value="2">French</option>
                                <option value="3">Deutsch</option>
                              </select>
                        </div>
                        <hr>
                        <div class="filters">
                            <label for="excellent" class="lead d-grid">
                                <input class="form-check-input" type="checkbox" id="excellent">
                                <small>Excellent</small>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Tres positif" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                <small>55%</small>
                            </label>
                            <label for="good" class="lead d-grid">
                                <input class="form-check-input" type="checkbox" id="good">
                                <small>Good</small>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Tres positif" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                <small>40%</small>
                            </label>
                            <label for="average" class="lead d-grid">
                                <input class="form-check-input" type="checkbox" id="average">
                                <small>Average</small>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Tres positif" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                <small>33%</small>
                            </label>
                            <label for="bad" class="lead d-grid">
                                <input class="form-check-input" type="checkbox" id="bad">
                                <small>Bad</small>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Tres positif" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                <small>10%</small>
                            </label>
                            <label for="very_bad" class="lead d-grid">
                                <input class="form-check-input" type="checkbox" id="very_bad">
                                <small>Very bad</small>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Tres positif" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                <small>2%</small>
                            </label>
                        </div>
                        
                        <!--
                        <div class="evaluation">
                            <ul>
                                <li>
                                    <span class="title">Value for money</span>
                                    <div class="d-flex mt-1">
                                        <div class="note small me-lg-3 mb-2">
                                            <div class="form__star d-flex justify-content-start">
                                                <div class="star star__1 active"></div>
                                                <div class="star star__2 active"></div>
                                                <div class="star star__3 active"></div>
                                                <div class="star star__4 active"></div>
                                                <div class="star star__5"></div>
                                            </div>
                                        </div>
                                        <span class="note">4.7 (765)</span>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Ease of use</span>
                                    <div class="d-flex mt-1">
                                        <div class="note small me-lg-3 mb-2">
                                            <div class="form__star d-flex justify-content-start">
                                                <div class="star star__1 active"></div>
                                                <div class="star star__2 active"></div>
                                                <div class="star star__3 active"></div>
                                                <div class="star star__4 active"></div>
                                                <div class="star star__5"></div>
                                            </div>
                                        </div>
                                        <span class="note">4.3 (675)</span>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Battery life</span>
                                    <div class="d-flex mt-1">
                                        <div class="note small me-lg-3 mb-2">
                                            <div class="form__star d-flex justify-content-start">
                                                <div class="star star__1 active"></div>
                                                <div class="star star__2 active"></div>
                                                <div class="star star__3 active"></div>
                                                <div class="star star__4 active"></div>
                                                <div class="star star__5"></div>
                                            </div>
                                        </div>
                                        <span class="note">4.3 (675)</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                  
                    <div class="reviews-photos">
                        <div class="bg-white p-3 mb-3 rounded-5 shadow aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                            <div class="d-lg-flex justify-content-between">
                                <h3 class="h4">Reviews Photo & Videos</h3>
                            </div>
                            <div class="photos">
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">
                                            <img src="https://cdn.productreview.com.au/resize/review-attachment/bb73b456-f03e-47e5-bb5f-adb6adbd0acb?width=96&height=96&cover=&v=2" alt="Reviews">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="https://cdn.productreview.com.au/resize/review-attachment/bb73b456-f03e-47e5-bb5f-adb6adbd0acb?width=96&height=96&cover=&v=2" alt="Reviews">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="https://cdn.productreview.com.au/resize/review-attachment/bb73b456-f03e-47e5-bb5f-adb6adbd0acb?width=96&height=96&cover=&v=2" alt="Reviews">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="https://cdn.productreview.com.au/resize/review-attachment/bb73b456-f03e-47e5-bb5f-adb6adbd0acb?width=96&height=96&cover=&v=2" alt="Reviews">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                    </div>   
                    <div id="reviews" class="reviews-list">
                        
                               <%
                        if(productReviews.length!=0){
                        var i=0;
                        productReviews.forEach(function(product_review){
                               
                        %>
                        
                        <div class="bg-white p-3 mb-2 rounded-5 shadow aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      
                            <div class="profil d-flex pb-2">
                                <img src="/assets/img/star-1.png" width="50" height="50">
                                <div class="info ms-3">
                                    <p class="name lead mb-0"><%=productReviews[i].first_name%> <%=productReviews[i].last_name%></p>
                                    <p class="analyse text-muted mb-0"><%=productReviews[i].Nbre%> reviews • <i class="flaticon-location"></i> FR</p>
                                </div>
                            </div>
                            <div class="notation d-lg-flex justify-content-between my-3">
                                <div class="note small me-lg-3 mb-2">
                                    <div class="form__star d-flex justify-content-start">
                                        <div> <img alt="Noté 5 sur 5 étoiles" src="/img/star-<%=productReviews[i].rating%>-svg.svg" width="120" height="70"> </div> 
                                    </div>
                                </div>
                                <div class="verified me-lg-3 mb-2">
                                    <button type="button" class="certified small bg-success text-white d-inline px-0 px-1 rounded-3" data-bs-html="true" data-bs-trigger="focus" data-bs-toggle="popover" data-bs-placement="top" data-bs-custom-class="veritatrust-popover" data-bs-title="<i class='flaticon-cube-3d me-1'></i> Verified via Blockchain"
                                        data-bs-content="We use the blockchain to track and verify the transaction. <br><a href='https://goerli.etherscan.io/tx/<%=productReviews[i].hash_transaction%>' target='_blank'>View the onchain transaction</a> | <a href='#' target='_blank'>What is Blockchain?</a>"><span class="text-white"><i class="flaticon-cube-3d me-1"></i> Verified via Blockchain</span></button>
                                </div>
                                <div class="date text-primary ms-auto"><%=Intl.DateTimeFormat('en', { month: 'short' }).format(new Date((1+productReviews[i].experienceDate.getMonth()).toString()))%> <%=productReviews[i].experienceDate.getDate()%>, <%=productReviews[i].experienceDate.getFullYear()%></div>
                            </div>
                            <div class="content mb-2">
                                <p><span class="badge bg-primary"><%=productReviews[i].product_name%></span></p>
                                <h3><%=productReviews[i].title%></h3>
                                <p class="text-muted"><%=productReviews[i].content%>
                                </p>
                                <ul class="d-flex">
                                    
                                    <%
                                     for(var j = 0; j < productReviews[i].image_video.length; j++) {
                                     
                                     %>
                                    <li>
                                        <a href="#">
                                            <img src="/<%=productReviews[i].image_video[j].split('/')[5]%>" alt="Reviews" height= 100  width=100>
                                        </a>
                                    </li>
                                    
                                    
                                    <%  } %>
                                </ul>
                                
                                <!--
                                <p>Purchased in <strong>November 2019</strong> for <strong>$1,400</strong>.</p>
                                <div class="evaluation">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <div class="d-flex">
                                                <div class="note small me-lg-1">
                                                    <div class="form__star d-flex justify-content-start">
                                                        <div class="star star__1 active"></div>
                                                        <div class="star star__2 active"></div>
                                                        <div class="star star__3 active"></div>
                                                        <div class="star star__4 active"></div>
                                                        <div class="star star__5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="title mb-0">Value for money</span>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="d-flex">
                                                <div class="note small me-lg-1">
                                                    <div class="form__star d-flex justify-content-start">
                                                        <div class="star star__1 active"></div>
                                                        <div class="star star__2 active"></div>
                                                        <div class="star star__3 active"></div>
                                                        <div class="star star__4 active"></div>
                                                        <div class="star star__5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="title mb-0">Ease of use</span>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="d-flex">
                                                <div class="note small me-lg-1">
                                                    <div class="form__star d-flex justify-content-start">
                                                        <div class="star star__1 active"></div>
                                                        <div class="star star__2 active"></div>
                                                        <div class="star star__3 active"></div>
                                                        <div class="star star__4"></div>
                                                        <div class="star star__5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="title mb-0">Battery life</span>
                                        </li>
                                    </ul>
                                </div>
                                
                                
                                -->
                            </div>
                            <div class="share d-flex justify-content-around">
                                <div class="recommanded">
                                    <a href="#"><i class="flaticon-heart"></i> Useful</a></div>
                                <div class="share"><a href="#"><i class="flaticon-network"></i> Share</a></div>
                                <div class="flag"><a href="#" aria-label="flag"><i class="flaticon-red-flag"></i></a></div>
                            </div>
                        </div>
                          <%  i++; }) %>
                         <% } else{ %>
                         
                        <% } %>
                        
                        <nav class="mt-5" aria-label="...">
                            <ul class="pagination pagination-lg justify-content-center">
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">1</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                            </ul>
                        </nav>
                        
                      
                    </div>
                    <!--
                    <div id="all_questions" class="reviews-questions">
                        <h2 class="text-white aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Questions & Answers</h2>
                        <div class="bg-white p-3 mb-2 rounded-5 shadow aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                            <div class="profil d-flex pb-2">
                                <img src="/assets/img/star-1.png" width="50" height="50">
                                <div class="info ms-3">
                                    <p class="name lead mb-0">Nicolas Bornet</p>
                                    <p class="analyse text-muted mb-0">29 july 2022</p>
                                </div>
                            </div>
                            <div class="content mb-2">
                                <p><span class="badge bg-primary">Name of product</span></p>
                                <p class="text-muted">Order received quickly, I ordered on this site a table service for an event. I received it as promised within 24 hours. I recommend
                                </p>
                            </div>
                            <div class="answer mb-3">
                                <p>No answers</p>
                                <input class="form-control" type="text" placeholder="Click here to type your answer">
                                <div class="boutons mt-3 text-end">
                                    <button class="btn btn-primary">Cancel</button>
                                    <button class="btn btn-success text-white">Submit</button>
                                </div>
                            </div>
                            <div class="share d-flex justify-content-around">
                                <div class="recommanded">
                                    <a href="#"><i class="flaticon-heart"></i> Useful</a></div>
                                <div class="share"><a href="#"><i class="flaticon-network"></i> Share</a></div>
                                <div class="flag"><a href="#" aria-label="flag"><i class="flaticon-red-flag"></i></a></div>
                            </div>
                        </div>
                    </div>
                    
                 
                    <div id="ask_question" class="reviews-ask mt-4">
                        <div class="bg-white p-3 mb-2 rounded-5 shadow aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                            <div class="content mb-2">
                                <h4>Get an answer from our members</h4>
                                <p class="text-muted mb-0 mt-3">Select a listing for your question</p>
                                <select name="listing" id="" class="form-select" aria-label="Default select example">
                                    <option value="Iphone X">Iphone X</option>
                                    <option value="Iphone 11">Iphone 11</option>
                                    <option value="Iphone 12">Iphone 12</option>
                                    <option value="Iphone 13">Iphone 13</option>
                                </select>
                                <p class=" mb-0 mt-3">Ask your question</p>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please be awar that your question will be posted to consumers…"></textarea>
                                <div class="boutons mt-3 text-end">
                                    <button class="btn btn-primary">Cancel</button>
                                    <button class="btn btn-success text-white">Submit your question</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                  
                <div class="col-lg-4 text-end">
                    <div class="bg-white p-3 mb-3 rounded-5 shadow widget other-products aos animated" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                        <div class="header d-flex">
                            <h4>Other Mobile Phones</h4>
                        </div>
                        <div class="content">
                            <ul class="ps-0">
                                <li>
                                    <a class="d-flex" href="#">
                                        <img src="https://cdn.productreview.com.au/resize/listing-picture/576fd75b-6a64-4c9e-a011-07ded62388b2?width=48&height=48&v=2" alt="other name" width="48" height="48">
                                        <div class="note">
                                            <div class="text">Apple iPhone XR</div>
                                            <div class="note d-flex small me-lg-1 mb-2">
                                                <div class="form__star d-flex justify-content-start me-1">
                                                    <div class="star star__1 active"></div>
                                                    <div class="star star__2 active"></div>
                                                    <div class="star star__3 active"></div>
                                                    <div class="star star__4"></div>
                                                    <div class="star star__5"></div>
                                                </div>
                                                <span class="note">4.3 (675)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex" href="#">
                                        <img src="https://cdn.productreview.com.au/resize/listing-picture/576fd75b-6a64-4c9e-a011-07ded62388b2?width=48&height=48&v=2" alt="other name" width="48" height="48">
                                        <div class="note">
                                            <div class="text">Apple iPhone 13</div>
                                            <div class="note d-flex small me-lg-1 mb-2">
                                                <div class="form__star d-flex justify-content-start me-1">
                                                    <div class="star star__1 active"></div>
                                                    <div class="star star__2 active"></div>
                                                    <div class="star star__3 active"></div>
                                                    <div class="star star__4 active"></div>
                                                    <div class="star star__5"></div>
                                                </div>
                                                <span class="note">4.3 (675)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex" href="#">
                                        <img src="https://cdn.productreview.com.au/resize/listing-picture/576fd75b-6a64-4c9e-a011-07ded62388b2?width=48&height=48&v=2" alt="other name" width="48" height="48">
                                        <div class="note">
                                            <div class="text">Apple iPhone 11 Pro Max</div>
                                            <div class="note d-flex small me-lg-1 mb-2">
                                                <div class="form__star d-flex justify-content-start me-1">
                                                    <div class="star star__1 active"></div>
                                                    <div class="star star__2 active"></div>
                                                    <div class="star star__3 active"></div>
                                                    <div class="star star__4"></div>
                                                    <div class="star star__5"></div>
                                                </div>
                                                <span class="note">4.3 (675)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex" href="#">
                                        <img src="https://cdn.productreview.com.au/resize/listing-picture/576fd75b-6a64-4c9e-a011-07ded62388b2?width=48&height=48&v=2" alt="other name" width="48" height="48">
                                        <div class="note">
                                            <div class="text">Apple iPhone 12</div>
                                            <div class="note d-flex small me-lg-1 mb-2">
                                                <div class="form__star d-flex justify-content-start me-1">
                                                    <div class="star star__1 active"></div>
                                                    <div class="star star__2 active"></div>
                                                    <div class="star star__3 active"></div>
                                                    <div class="star star__4 active"></div>
                                                    <div class="star star__5"></div>
                                                </div>
                                                <span class="note">4.3 (675)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex" href="#">
                                        <img src="https://cdn.productreview.com.au/resize/listing-picture/576fd75b-6a64-4c9e-a011-07ded62388b2?width=48&height=48&v=2" alt="other name" width="48" height="48">
                                        <div class="note">
                                            <div class="text">Realme 6</div>
                                            <div class="note d-flex small me-lg-1 mb-2">
                                                <div class="form__star d-flex justify-content-start me-1">
                                                    <div class="star star__1 active"></div>
                                                    <div class="star star__2 active"></div>
                                                    <div class="star star__3"></div>
                                                    <div class="star star__4"></div>
                                                    <div class="star star__5"></div>
                                                </div>
                                                <span class="note">4.3 (675)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <a href="#">See all Mobile phone <i class="flaticon-fleche-angulaire-pointant-vers-la-droite"></i></a>
                        </div>
                    </div>
                </div>
                
                 -->
                
            </div>
        </div>
    </section>

    <footer class="bg-primary pt-5 pb-2 text-white">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-6">
                    <h3>Stay in touch</h3>
                    <p>Join our mailing list to receive updates regarding our new features, tips and advices.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Notre newsletter" aria-label="Notre newsletter" aria-describedby="button-newsletter">
                        <button class="btn btn-outline-success" type="button" id="button-newsletter">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Follow us</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">Logo 1</li>
                        <li class="list-inline-item">Logo 2</li>
                        <li class="list-inline-item">Logo 3</li>
                        <li class="list-inline-item">Logo 4</li>
                        <li class="list-inline-item">Logo 5</li>
                        <li class="list-inline-item">Logo 6</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <hr>
            <div class="row py-3">
                <div class="col-md-4">
                    <img class="mb-3" src="/assets/img/logo-veritatrust-wg.png" alt="Veritatrust" width="200">
                    <p>VeritaTrust is the only decentralized review system backed by Blockchain, A.I and machine learning, helping businesses to collect verified feedbacks, boost sales and increase loyalty.
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Corporate</h4>
                            <ul class="list-unstyled">
                                <li>About</li>
                                <li>Blog</li>
                                <li>jobs</li>
                                <li>Contact</li>
                                <li>Press</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4>My Account</h4>
                            <ul class="list-unstyled">
                                <li>Sign up</li>
                                <li>Login</li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4>Enterprises</h4>
                            <ul class="list-unstyled">
                                <li>Sign up Pro</li>
                                <li>Login</li>
                                <li>Our solutions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/class-veritatrust.js" type="module" defer></script>
         <script src = '/js/authentificator.js'></script>
         <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
             

        <div class="container">
            <hr>
            <div class="d-flex justify-content-between">
                <p>© 2022 - All right reserved.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy policy</a></li>
                    <li class="list-inline-item"><a href="#">Legal information</a></li>
                    <li class="list-inline-item"><a href="#">T&Cs</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/js/OwlCarousel2/owl.carousel.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/custom.js"></script>
     <script src="/js/metaconnect2.js"></script>
 
</body>

</html>