<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/fonts/font/flaticon_veritatrust.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
        <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
        <script src="js/class-veritatrust.js" type="module" defer></script>
    <title>Veritatrust</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="./">
                <img src="./assets/img/logo-veritatrust-c.png" alt="Veritatrust" width="170">
            </a>
            <button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <a class="avatar-link nav-link align-self-center order-3 order-lg-5 position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#account" aria-controls="account">
                <span class="notification position-absolute translate-middle p-2 bg-danger rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
              <%
                                            if(prd_reviews.length!=0){
                                                   
                                            %>
                <img class="user_avatar" src="./assets/img/level<%=prd_reviews[0].level_account%>.jpg" alt="Avatar" height="30" width="30">
                
                <% } else{ %>
                 <img class="user_avatar" src="./assets/img/level0.jpg" alt="Avatar" height="30" width="30">
                                    
                <% } %>
                                    
                
                <i class="flaticon-user-1 d-none"></i>
            </a>
            <div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
                <form class="d-flex w-lg-50 search my-3 my-lg-0" role="search">
                    <input class="form-control" placeholder="Rechercher un produit ou service">
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto me-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active align-self-center" aria-current="page" href="./">Explore</a>
                        <ul class="submenu dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Domaine name</a></li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  align-self-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Create</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="offcanvas offcanvas-end text-bg-primary" data-bs-scroll="true" tabindex="-1" id="account" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Your account</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            
            <!-- if logued / user menu -->
              <%
                if(prd_reviews.length!=0){
                       
                %>
            <p class="lead">Hello <%=prd_reviews[0].first_name%> <%=prd_reviews[0].last_name%></p>
            
             <% } else{ %>
                     <p class="lead">Hello</p>
                                    
              <% } %>
                                    
            <div class="notifications">
                <div class="notification">
                    <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                    <p class="lead"><a href="/update_account">Notification title</a></p>
                    <p>You must complete your profile</p>
                    
         
            
                </div>
            </div>
              <%
                if(prd_reviews.length!=0){
                    
                    const level = ["Newbie","Bronze","Silver", "Gold", "Platinum"];
                       
                %>
                    <div class="badge w-100 level level<%=prd_reviews[0].level_account%> mb-3" id="lvl-name">
                <span class="icone"><i class="flaticon-quality"></i> Newbie</span>
            </div>
            
             <% } else{ %>
                     
                    <div class="badge w-100 level level0 mb-3">
                <span class="icone"><i class="flaticon-quality"></i> Newbie</span>
                </div>
                                    
              <% } %>
            
            <ul class="list-unstyled list-profile">
                <li><a class="active" href="https://dev.veritatrust.com/user-dashboard">Dashboard</a></li>
                <li><a href="/update_account">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Following</a></li>
                <li><a href="#">Sponsoring</a></li>
                <li><a href="#">Badges</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            <!-- end if logued / user menu -->
            <button type="submit" class="btn btn-success text-white" onclick="googleSignout()">Logout</button>
        </div>
    </div>
    <section class="py-5">
        <div class="container user_profil">
            <div class="row d-flex align-items-center">
                <div class="col-11 pt-3 mx-auto">
                    <h1 class="display-6 text-primary">Dashboard</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 mb-md-3">
                            <li class="breadcrumb-item"><a href="./"><i class="flaticon-home"></i> Home</a></li>
                            <!-- <li class="breadcrumb-item"><a href="#">Category 1</a></li> -->
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="page_content pb-5 bg-success">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4 mx-auto">
                    <div class="row">
                        <div class="d-none d-lg-block col-md-3">
                            <div class="bg-white p-3 mb-3 rounded-5 shadow widget enterprise aos animated aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                                <div class="notifications">
                                    <h3 class="lead">Notifications</h3>
                                    <div class="notification bg-primary text-white">
                                        <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                        <div class="d-flex justify-content-between">
                                            <p><a href="#" class="text-white"><strong>Notification title</strong></a></p>
                                            <button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>
                                        <p class="text-muted">You must complete your profile</p>
                                    </div>
                                </div>
                                <nav>
                                    <h3 class="lead">Navigation</h3>
                                    <ul class="list-unstyled user-menu">
                                        <li><a class="active" href="/user-dashboard">Dashboard</a></li>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Setting</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">Following</a></li>
                                        <li><a href="#">Sponsoring</a></li>
                                        <li><a href="#">Badges</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="dashboard col-12 col-lg-9">
                            <div class=" mb-4 bg-white shadow rounded-5 p-4 aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                 <%
                                            if(prd_reviews.length!=0){
                                                   
                                            %>
                                <h2>Welcome, <%=prd_reviews[0].first_name%> <%=prd_reviews[0].last_name%></h2>
                             <!--   <p class="level-icone badge bg-secondary m-0 level<%=prd_reviews[0].level_account%>" id="lvl-name"><i class="flaticon-quality d-block"></i>Newbie</p> -->
                                <p class="lead">You have <%=prd_reviews[0].total%> VeritaCoins (VT) in your wallet!</p>
                                
                                 <% } else{ %>
                                              <h2>Welcome, ></h2>
                              <!--  <p class="level-icone badge bg-secondary m-0 level0" id="lvl-name"><i class="flaticon-quality d-block"></i>Newbie</p> -->
                                <p class="lead">You have 0 VeritaCoins (VT) in your wallet!</p>
                                    
                                    <% } %>
                                    
                                    
                                <div class="row mb-4">
                                    
                                    <%
                                            if(prd_reviews.length!=0){
                                             
                                            var itemlevel = prd_reviews[0].level_account;
                                            %>
                                    
                                    <div class="state col-md-6 d-flex justify-content-around mb-3">
                                        <div class="value approuved">
                                            <div class="icone"><i class="flaticon-cube-3d"></i></div>
                                            <div>
                                                <div class="number"><span><%=prd_reviews[0].total_published%></span> VT</div>
                                                <div class="state">Approuved</div>
                                            </div>
                                        </div>
                                        <div class="value pending">
                                            <div class="icone"><i class="flaticon-time-left"></i></div>
                                            <div>
                                                <div class="number"><span><%=prd_reviews[0].total_pending%></span> VT</div>
                                                <div class="state">Pending</div>
                                            </div>
                                        </div>
                                        
                                        <div class="value level level<%=prd_reviews[0].level_account%>">
                                            <div class="icone"><i class="flaticon-logo-level"></i></div>
                                            <div>
                                                <div class="state"><%=["Newbie", "Bronze", "Silver", "Gold","Platinum"][itemlevel]%></div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    
                                     <% } else{ %>
                                             
                                             
                                                      
                                    <div class="state col-md-6 d-flex justify-content-around mb-3">
                                        <div class="value approuved">
                                            <div class="icone"><i class="flaticon-cube-3d"></i></div>
                                            <div>
                                                <div class="number"><span>0</span> VT</div>
                                                <div class="state">Approuved</div>
                                            </div>
                                        </div>
                                        <div class="value pending">
                                            <div class="icone"><i class="flaticon-time-left"></i></div>
                                            <div>
                                                <div class="number"><span>0</span> VT</div>
                                                <div class="state">Pending</div>
                                            </div>
                                        </div>
                                        
                                        <div class="value level level0">
                                            <div class="icone"><i class="flaticon-quality"></i></div>
                                            <div>
                                                <div class="state">Newbie</div>
                                            </div>
                                            
                                           
                                        </div>
                                    </div>
                                    <% } %>
                                    
                                    
                                    
                                      <%
                                            if(prd_reviews.length!=0){
                                                   
                                            %>
                                    <div class="level-upgrade col-md-6">
                                        Your current level is <span class="level<%=prd_reviews[0].level_account%>" id="level-name">Newbie influencer</span> Reviewer. Want to level up to <span class="level<%=prd_reviews[0].level_account+1%>" id= "level-next">Newbie influencer</span>? Just write <strong id="review-privilege">7</strong> more reviews and get new privileges!
                                    </div>
                                     <% } else{ %>
                                              <div class="level-upgrade col-md-6">
                                        Your current level is <span class="level0" id="level-name">Newbie influencer</span> Reviewer. Want to level up to <span class="level1" id= "level-next">Bronze Influencer</span>? Just write <strong>7</strong> more reviews and get new privileges!
                                    </div>
                                    
                                    <% } %>
                                    
                                    <script>
                                        var message = document.getElementById("level-name");
                                      
                                        var message1 = document.getElementById("lvl-name");
                                        
                                       if(message.className == "level0")
                                       
                                       {
                                           
                                            message.innerHTML = "Newbie influencer";
                                            document.getElementById('review-privilege').innerHTML = "6";
                                            
                                       }
                                        else if(message.className == "level1")
                                        {
                                             message.innerHTML = "Bronze Influencer";
                                             document.getElementById('review-privilege').innerHTML = "21";
                                        }
                                        else if(message.className == "level2")
                                        {
                                             message.innerHTML = "Silver Influencer";
                                             document.getElementById('review-privilege').innerHTML = "51";
                                        }
                                        else if(message.className == "level3")
                                        {
                                             message.innerHTML = "Gold Influencer";
                                             document.getElementById('review-privilege').innerHTML = "99";
                                        }
                                        else if(message.className == "level4")
                                        {
                                             message.innerHTML = "Platinum Influencer";
                                             document.getElementById('review-privilege').innerHTML = "100";
                                        }
                                             
                                        var message2 = document.getElementById("level-next");
                                        
                                        if(message2.className == "level0")
                                            message2.innerHTML = "Newbie influencer";
                                        else if(message2.className == "level1")
                                             message2.innerHTML = "Bronze Influencer";
                                        else if(message2.className == "level2")
                                             message2.innerHTML = "Silver Influencer";
                                        else if(message2.className == "level3")
                                             message2.innerHTML = "Gold Influencer";
                                        else if(message2.className == "level4")
                                             message2.innerHTML = "Platinum Influencer";
                                             
                                             /*   ***************************************  */
                                             
                                        if(message1.className == "badge w-100 level level0 mb-3")
                                           
                                            message1.innerHTML = '<span class="icone"><i class="flaticon-quality"></i> Newbie</span>';
                                        else if(message1.className == "badge w-100 level level1 mb-3")
                                             message1.innerHTML = '<span class="icone"><i class="flaticon-quality"></i> Bronze</span>';
                                        else if(message1.className == "badge w-100 level level2 mb-3")
                                             message1.innerHTML = '<span class="icone"><i class="flaticon-quality"></i> Silver</span>';
                                        else if(message1.className == "badge w-100 level level3 mb-3")
                                             message1.innerHTML = '<span class="icone"><i class="flaticon-quality"></i> Gold</span>';
                                        else if(message1.className == "badge w-100 level level4 mb-3")
                                             message1.innerHTML = '<span class="icone"><i class="flaticon-quality"></i> Platinum</span>';
                                        
                                    </script>
                                    
                                </div>
                                    <%
                                            if(prd_reviews.length!=0){
                                                   
                                            %>
                                <div class="row">
                                    <div class="total col-12">
                                        In total, you got <%=prd_reviews[0].total%> VeritaCoins (VT) since your registration. Well done! Want more rewards? Share your experience with the community and write a review.</div>
                                </div>
                                
                                
                                    <% } else{ %>
                                              <div class="row">
                                    <div class="total col-12">
                                        In total, you got 0 VeritaCoins (VT) since your registration. Well done! Want more rewards? Share your experience with the community and write a review.</div>
                                </div>
                                    
                                    <% } %>
                                
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <a class="btn btn-success d-block mt-2 text-white" href="#">Add new review</a>
                                </div>
                            </div>
                            <div class="mb-4 bg-white shadow rounded-5 p-4 aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <p class="lead">Your profile</p>
                                <div class="row border border-bottom-0 border-end-0 profil_state mb-3">
                                    <div class="col-lg-4 border-end border-bottom p-2">Basic info: <span class="complete"><i class="flaticon-check flaticon-complete"></i> complete</span><span class="pending d-none"><i class="flaticon-time-left  flaticon-pending"></i> pending</span></div>
                                    <div class="col-lg-4 border-end border-bottom p-2">KYC: <span class="complete d-none"><i class="flaticon-check flaticon-complete"></i> complete</span><span class="pending"><i class="flaticon-time-left  flaticon-pending"></i> pending</span></div>
                                    <div class="col-lg-4 border-end border-bottom p-2">Metamask: <span class="complete d-none"><i class="flaticon-check flaticon-complete"></i> complete</span><span class="pending"><i class="flaticon-time-left  flaticon-pending"></i> pending</span> </div>
                                </div>
                        
                                
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <a class="btn btn-success d-block mt-2 text-white" href="/update_account">Complete your profile</a>
                                </div>
                            </div>
                            <div class="mb-4 bg-white shadow rounded-5 p-4 aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <p class="lead">Your last reviews</p>
                                      
                                
                                <table class="table mb-3">
                                    <thead>
                                        <tr>
                                            <th class="review-date" scope="col">Date</th>
                                            <th class="review-details" scope="col">Details</th>
                                            <th class="review-reward" scope="col">Reward</th>
                                        </tr>
                                    </thead>
                                      <%
                                            if(prd_reviews.length!=0){
                                            var j=0;
                                            prd_reviews.forEach(function(review){
                                                   
                                            %>
                                    <tbody>
                                        <tr class="aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                            <td data-label="Date" scope="row"><%=Intl.DateTimeFormat('en', { month: 'short' }).format(new Date((1+prd_reviews[j].created.getMonth()).toString()))%> <%=prd_reviews[j].created.getDate()%>, <%=prd_reviews[j].created.getFullYear()%></td>
                                            <td data-label="Details">
                                                <div class="d-flex flex-column">
                                                    <span><strong><%=prd_reviews[j].product_name%> [<%=prd_reviews[j].review_type%>]</strong></span>
                                                    <span class="small">Order #358492</span>
                                                    <div class="state_review"><img class="mb-2 mb-md-0" src="./assets/img/star-<%=prd_reviews[j].rating%>.jpg" alt="notation" width="100" height="40"> - <span class="complete d-none"><i class="flaticon-cube-3d flaticon-complete"></i> Verified</span>
                                                        <span class="<%=prd_reviews[j].statu%>"><i class="<%=prd_reviews[j].status_classe%>"></i> <%=prd_reviews[j].statu%></span>
                                                    </div>
                                                    <a href=<%=prd_reviews[j].review_type=="product_review"?"/review-product/"+prd_reviews[j].product_name : "/org-review?site=www.fatasoft-consulting.com"%> ><span><%=prd_reviews[j].content%></span></a>
                                                </div>
                                            </td>
                                            <td data-label="Reward"><%=prd_reviews[j].review_reward%> VT
                                                <img class="" src="http://dev.veritatrust.com/assets/img/vt-coin.png" alt="Veritatrust" height="30" width="30">
                                            </td>
                                        </tr>
                                        
                                       
                    
                                    </tbody>
                                    
                                       <%  j++; }) %>
                                    <% } else{ %>
                                              
                                    
                                    <% } %>
                                    
                                </table>
                              
                                    
                                <a class="btn btn-outline-primary d-block" href="#">All your reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-primary pt-5 pb-2 text-white">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-6">
                    <h3>Stay in touch</h3>
                    <p>Join our mailing list to receive updates regarding our new features, tips and advices.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Notre newsletter" aria-label="Notre newsletter" aria-describedby="button-newsletter">
                        <button class="btn btn-outline-success" type="button" id="button-newsletter">Subscribe</button>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3>Follow us</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">Logo 1</li>
                        <li class="list-inline-item">Logo 2</li>
                        <li class="list-inline-item">Logo 3</li>
                        <li class="list-inline-item">Logo 4</li>
                        <li class="list-inline-item">Logo 5</li>
                        <li class="list-inline-item">Logo 6</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <hr>
            <div class="row py-3">
                <div class="col-md-4">
                    <img class="mb-3" src="./assets/img/logo-veritatrust-wg.png" alt="Veritatrust" width="200">
                    <p>VeritaTrust is the only decentralized review system backed by Blockchain, A.I and machine learning, helping businesses to collect verified feedbacks, boost sales and increase loyalty.
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Corporate</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">About</a></li>
                                <li>Blog</li>
                                <li>jobs</li>
                                <li>Contact</li>
                                <li>Press</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4>My Account</h4>
                            <ul class="list-unstyled">
                                <li>Sign up</li>
                                <li>Login</li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4>Enterprises</h4>
                            <ul class="list-unstyled">
                                <li>Sign up Pro</li>
                                <li>Login</li>
                                <li>Our solutions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="d-flex justify-content-between">
                <p>© 2022 - All right reserved.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy policy</a></li>
                    <li class="list-inline-item"><a href="#">Legal information</a></li>
                    <li class="list-inline-item"><a href="#">T&Cs</a></li>
                </ul>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
              <script>
      // Your web app's Firebase configuration
                  var firebaseConfig = {
                    apiKey: "AIzaSyAo-8Xsea3mrUrLdRQl8jF0kWjurVR75BM",
                        authDomain: "mvp-veritatrust-authen.firebaseapp.com",
                        projectId: "mvp-veritatrust-authen",
                        storageBucket: "mvp-veritatrust-authen.appspot.com",
                        messagingSenderId: "674996552868",
                        appId: "1:674996552868:web:27aa9d64343f27f034d231",
                        measurementId: "G-DBYVG24K2G"
                  };
                  // Initialize Firebase
                  firebase.initializeApp(firebaseConfig);
                </script>
               <script>
                  function googleSignout() {
                       firebase.auth().signOut()
                    	
                       .then(function() {
                          
                          axios.get('https://dev.veritatrust.com/sessionLogout')
                              .then((response) => {
                                window.location.assign("/create_account");
                      });
                       }, function(error) {
                          console.log('Signout Failed')  
                       });
                    }
        
          </script>


    </footer>
    <a id="button"></a>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/OwlCarousel2/owl.carousel.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/custom.js"></script>
</body>

</html>