<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font/flaticon_veritatrust.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
     <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <title>Veritatrust</title>
</head>
<body class="product">
    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="./home">
                <img src="/assets/img/logo-veritatrust-c.png" alt="Veritatrust" width="170">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex w-lg-50 search my-3 my-lg-0" role="search">
                    <input class="form-control" placeholder="Rechercher un produit ou service">
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active align-self-center" aria-current="page" href="./">Explore</a>
                        <ul class="submenu dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Domaine name</a></li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  align-self-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Create</a>
                    </li>
                    <li class="nav-item"><a class="nav-link align-self-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#account" aria-controls="account"><i class="flaticon flaticon-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

      
             <div class="offcanvas offcanvas-end text-bg-primary" data-bs-scroll="true" tabindex="-1" id="account" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Your account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            
            <p>Enter your login and password</p>
            <form>
                <div class="mb-3">
                    <input type="email" class="form-control" id="usermail" aria-describedby="emailHelp" title="User Email" placeholder="User Email">
                    <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" title="Password" placeholder="Password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberme" checked>
                    <label class="form-check-label" for="rememberme">Stay connected</label>
                </div>
                <button type="submit" class="btn btn-success">Login</button>
            </form>
            <hr>
            <p class="mt-3 mb-1">You haven't again an account ?</p>
            <button type="submit" class="btn btn-light">Create my account</button>
            
            
            <!-- if logued / user menu 
            <p class="lead">Hello <name></p>
            <ul class="list-unstyled list-profile">
                <li><a href="https://dev.veritatrust.com/user-dashboard">Dashboard</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Following</a></li>
                <li><a href="#">Sponsoring</a></li>
                <li><a href="#">Badges</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
          end if logued / user menu 
            <button class="btn btn-success text-white" onclick="googleSignout()">Logout</button> -->
        </div>
    </div>
        
    
    <section class="py-5">
        <div class="container user_profil">
            <div class="row d-flex align-items-center">
                <div class="col-11 pt-3 mx-auto text-center">
                    <%
                            if(reviews.length!=0 ){
                                                   
                                            %>
                <img class="user_avatar" src="/assets/img/level<%=reviews[0].level_account%>.jpg" alt="Avatar" height="60" width="60">
                
                <% } else{ %>
                 <img class="user_avatar" src="/assets/img/level0.jpg" alt="Avatar" height="60" width="60">
                                    
                <% } %>
                    <h1><%=reviews[0].first_name%> <%=reviews[0].last_name%></h1>
                    <p>Member since apr 3 2022</p>
                    <p>top activity: <a href="#">hight-Tech</a> - <a href="#">Travel</a></p>
                </div>
            </div>
            <div class="user_info text-center d-sm-flex justify-content-center gap-3">
                <div class="number_reviews"><strong>9</strong> reviews</div>
                <div class="number_followers"><strong>90</strong> followers</div>
                <div class="number_following"><strong>15</strong> following</div>
                <div class="comments"><strong>1</strong> comment</div>
                <div class="like"><strong>9</strong> likes</div>
                <div class="answers"><strong>10</strong> answers</div>
            </div>
            <div class="user_info d-flex justify-content-center gap-3 mt-3">
                <div class="number_reviews"><a href="#products" class="btn btn-primary">Product reviews</a></div>
                <div class="comments"><a href="#merchands" class="btn btn-primary">Merchant reviews</a></div>
            </div>
        </div>
    </section>
    <section id="products" class="user_reviews bg-success pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 py-4 mx-auto">
                    <div class="orbymail text-center">
                        <div class="separator">
                            <h2>Product reviews</h2>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-12 col-lg-8 pb-4 mx-auto">

                  <%
                        if(prd_reviews.length!=0){
                        var j=0;
                        prd_reviews.forEach(function(review){
                               
                        %>
                
                
                    <div class="review star-2 d-flex py-3 mb-4">
                        <div class="product">
                            <h3 class="product__name h6 mb-1"><%=prd_reviews[j].product_name%></h3>
                            <h4 class="product__name lead mb-2"><a href="#"><%=prd_reviews[j].title%></a></h4>
                            <div class="notation d-md-flex align-items-center">
                                <img class="mb-2 mb-md-0" src="/assets/img/star-2.jpg" alt="notation" width="100" height="40">
                                <div class="verified ms-md-4 mb-2 mb-md-0">
                                    <button type="button" class="certified small bg-success text-white d-inline px-0 px-1 rounded-3" data-bs-html="true" data-bs-trigger="focus" data-bs-toggle="popover" data-bs-placement="top" data-bs-custom-class="veritatrust-popover" data-bs-title="<i class='flaticon-cube-3d me-1'></i> Verified via Blockchain"
                                        data-bs-content="We use the blockchain to track and verify the transaction. <br><a href='#' target='_blank'>View the onchain transaction</a> | <a href='<%=prd_reviews[j].hash_transaction%>' target='_blank'>What is Blockchain?</a>"><span class="text-white"><i class="flaticon-cube-3d me-1"></i> Verified via Blockchain</span></button>
                                </div>
                                <p class="mb-0 text-primary ms-auto"><%=Intl.DateTimeFormat('en', { month: 'short' }).format(new Date((1+prd_reviews[j].experienceDate.getMonth()).toString()))%> <%=prd_reviews[j].experienceDate.getDate()%>, <%=prd_reviews[j].experienceDate.getFullYear()%></p>
                            </div>
                        </div>
                        <div class="logo ms-auto">
                            <img class="review__img__profil" src="<%=prd_reviews[j].image.split('/')[5]%>" alt="Product name" height="100" width="100">
                        </div>
                    </div>
                         <!-- fin boucle -->
                <%  j++; }) %>
                <% } else{ %>
                          <h3>No data</h3>
                        <p class="text-muted">no content
                        </p>
                
                <% } %>
                </div>
            </div>
        </div>
    </section>
    <section id="merchands" class="user_reviews bg-success pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 py-4 mx-auto">
                    <div class="orbymail text-center">
                        <div class="separator">
                            <h2>Merchant reviews</h2>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-12 col-lg-8 pb-4 mx-auto">
                    
                                  
                
                <%
                        if(reviews.length!=0){
                        var i=0;
                        reviews.forEach(function(review){
                               
                        %>
                        
                    <div class="review star-<%=reviews[i].rating%> d-flex py-3 mb-4">
                        <div class="product">
                            <h3 class="product__name h6 mb-1">Fatasoft store</h3>
                            <h4 class="product__name lead mb-2"><a href="#"><%=reviews[i].title%></a></h4>
                            <div class="notation d-md-flex align-items-center">
                                <img class="mb-2 mb-md-0" src="/assets/img/star-<%=reviews[i].rating%>.jpg" alt="notation" width="100" height="40">
                                <div class="verified ms-md-4 mb-2 mb-md-0">
                                    <button type="button" class="certified small bg-success text-white d-inline px-0 px-1 rounded-3" data-bs-html="true" data-bs-trigger="focus" data-bs-toggle="popover" data-bs-placement="top" data-bs-custom-class="veritatrust-popover" data-bs-title="<i class='flaticon-cube-3d me-1'></i> Verified via Blockchain"
                                        data-bs-content="We use the blockchain to track and verify the transaction. <br><a href='https://goerli.etherscan.io/tx/<%=reviews[i].hash_transaction%>' target='_blank'>View the onchain transaction</a> | <a href='https://goerli.etherscan.io/tx/<%=reviews[i].hash_transaction%>' target='_blank'>What is Blockchain?</a>"><span class="text-white"><i class="flaticon-cube-3d me-1"></i> Verified via Blockchain</span></button>
                                </div>
                                <p class="mb-0 text-primary ms-auto"><%=Intl.DateTimeFormat('en', { month: 'short' }).format(new Date((1+reviews[i].experienceDate.getMonth()).toString()))%> <%=reviews[i].experienceDate.getDate()%>, <%=reviews[i].experienceDate.getFullYear()%></p>
                            </div>
                        </div>
                        <div class="logo ms-auto">
                            <img class="align-self-center m-0" src="https://store.fatasoft-consulting.com/wp-content/uploads/2022/07/cropped-icon-1.png" alt="Merchant name">
                        </div>
                    </div>
                    
                    <!-- fin boucle -->
                <%  i++; }) %>
                <% } else{ %>
                          <h3>No data</h3>
                        <p class="text-muted">no content
                        </p>
                
                <% } %>
                
                 <!-- Debut boucle -->
                 
                
                    
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary pt-5 pb-2 text-white">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-6">
                    <h3>Stay in touch</h3>
                    <p>Join our mailing list to receive updates regarding our new features, tips and advices.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Our newsletter" aria-label="Our newsletter" aria-describedby="button-newsletter">
                        <button class="btn btn-outline-success" type="button" id="button-newsletter">Subscribe</button>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3>Follow us</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">Logo 1</li>
                        <li class="list-inline-item">Logo 2</li>
                        <li class="list-inline-item">Logo 3</li>
                        <li class="list-inline-item">Logo 4</li>
                        <li class="list-inline-item">Logo 5</li>
                        <li class="list-inline-item">Logo 6</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <hr>
            <div class="row py-3">
                <div class="col-md-4">
                    <img class="mb-3" src="/assets/img/logo-veritatrust-wg.png" alt="Veritatrust" width="200">
                    <p>VeritaTrust is the only decentralized review system backed by Blockchain, A.I and machine learning, helping businesses to collect verified feedbacks, boost sales and increase loyalty.
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Corporate</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">About</a></li>
                                <li>Blog</li>
                                <li>jobs</li>
                                <li>Contact</li>
                                <li>Press</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4>My Account</h4>
                            <ul class="list-unstyled">
                                <li>Sign up</li>
                                <li>Login</li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4>Enterprises</h4>
                            <ul class="list-unstyled">
                                <li>Sign up Pro</li>
                                <li>Login</li>
                                <li>Our solutions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="d-flex justify-content-between">
                <p>© 2022 - All right reserved.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy policy</a></li>
                    <li class="list-inline-item"><a href="#">Legal information</a></li>
                    <li class="list-inline-item"><a href="#">T&Cs</a></li>
                </ul>
            </div>
        </div>
        
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
              <script>
      // Your web app's Firebase configuration
                  var firebaseConfig = {
                    apiKey: "AIzaSyAo-8Xsea3mrUrLdRQl8jF0kWjurVR75BM",
                        authDomain: "mvp-veritatrust-authen.firebaseapp.com",
                        projectId: "mvp-veritatrust-authen",
                        storageBucket: "mvp-veritatrust-authen.appspot.com",
                        messagingSenderId: "674996552868",
                        appId: "1:674996552868:web:27aa9d64343f27f034d231",
                        measurementId: "G-DBYVG24K2G"
                  };
                  // Initialize Firebase
                  firebase.initializeApp(firebaseConfig);
                </script>
               <script>
                  function googleSignout() {
                       firebase.auth().signOut()
                    	
                       .then(function() {
                          
                          axios.get('https://dev.veritatrust.com/sessionLogout')
                              .then((response) => {
                                window.location.assign("/create_account");
                      });
                       }, function(error) {
                          console.log('Signout Failed')  
                       });
                    }
        
          </script>

    </footer>
    <a id="button"></a>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/custom.js"></script>
     <script src="/js/metaconnect2.js"></script>
</body>

</html>